body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Poppins;
    src: url("assets/fonts/Poppins-Regular.ttf");
}

.containerGeral {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.headerContainer {
    display: flex;
    width: 100%;
    justify-content: end;
}

.logoContainer {
    display: flex;
    width: 30%;
}

/* começo do navbar */
.navbarLista {
    display: flex;
    width: 70%;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}


.navbarLista ul,
.navbarLista li a {
    padding: 5px 10px;
    color: #4F4D4D;
    text-decoration: none;

}

.loginBtn {
    padding: 7px 25px;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #EF8A14;
}

/*começo da propaganda*/

.propaganda {
    display: flex;
    width: 100%;
    color: white;
    font-family: Poppins;
    background: #EF8A14;
}

.propagandaContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.propagandaTitulo {
    display: flex;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
    align-self: center;
    justify-content: center;
    font-size: 150%;
    font-weight: 900;
}

.propagandaBoxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.propagandaBoxes div {
    display: flex;
    width: 10%;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.propagandaContainer h3 {
    font-weight: 800;
    font-size: 125%;
}

/*começo do clienteContainer*/
.clienteContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Poppins;
}

.clienteTitulo {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #4F4D4D;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 150%;
    font-weight: 900;
}

.clientesBoxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.clientesBoxes div {
    display: flex;
    width: 22%;
    margin: 2% 1%;
    flex-direction: column;
    background-color: #FDC776;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.clientesBoxes p {
    display: flex;
    padding: 13%;
}

.clienteContainer label {
    align-items: center;
    font-weight: 900;
    margin-top: 5%;
}

/* INICIO DO FAZER PARTE */
.fazerParteContainer {
    display: flex;
    width: 100%;
    background-image: url(assets/imagens/fundo\ laranja\ -\ forma.png);
    background-size: 60%;
    background-repeat: no-repeat;
}


/*começo FAZER PARTE container*/
.FazerParteConteiner {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Poppins;
}

.FazerParteConteiner label {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #4F4D4D;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 150%;
    font-weight: 900;
}

.FazerParteConteiner div {
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.FazerParteConteiner button {
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    color: #4F4D4D;
}

/* começo do footer */
.footer {
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    color: white;
    background-color: #4A4A4A;
}

.footerContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footerEsquerdo {
    width: 30%;
    padding: 60px 41px;
    font-size: 90%;
}

.footerEsquerdo label {
    margin: 20% 0;
    font-size: 115%;
    font-weight: bold;
    font-family: Poppins;
}

.footerEsquerdo p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Poppins;
}

.footerEsquerdo p svg {
    margin-right: 1%;
}


.footerDireito {
    width: 30%;
    padding: 60px 41px;
    font-size: 90%;
}

.footerDireito label {
    margin: 20% 0%;
    font-weight: bold;
    font-size: 115%;
    font-family: Poppins;
}

.footerDireito p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Poppins;
}

.footerDireito p svg {
    margin-right: 1%;
}


.final {
    display: flex;
    width: 100%;
    font-size: 100%;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.final p {
    align-self: center;
    justify-content: center;
    font-family: Poppins;
}

.final img {
    align-self: center;
    justify-content: center;
}