@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes openModal {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes closeModal {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes escurecerFundo {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
}

@keyframes clarearFundo {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}