body {
    margin: 0;
    padding: 0;
    background: #0F1631;
    font-family: monospace;
}

/* começo do navbar */
.containerGeral {
    display: flex;
    width: 100%;
    font-size: 110%;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    justify-content: center;
}

.navBarContainer {
    display: flex;
    width: 90%;
    justify-content: end;
}

.logoContainer {
    width: 10%;
    justify-content: left;
}

.navbarLista {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    justify-content: end;
}

.navbarLista ul,
.navbarLista li a {
    justify-content: space-evenly;

    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
}

.loginBtn {
    padding: 7px 25px;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #EF8A14;
}

/*Começo quem somos*/
.quemSomosContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.quemSomosContainer h3 {
    display: flex;
    justify-content: center;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;

}

.quemSomosContainer h3 span {
    color: #EF8A14;
}

.quemSomosContainer p {
    width: 55%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 200%;
    color: #ffffff;
    align-self: center;
    background: rgba(0, 0, 0, 0.89);
    border-radius: 20px;
}

.imgBackground {
    background-image: url(/assets/EscritorioQuemSomos.png);
    display: flex;
    width: 80%;
    height: 300%;
    justify-self: center;
}

.solucao {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.89);
    width: 100%;
    
}

.solucao h3 {
    width: 65%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 200%;
    color: #ffffff;
}

.solucao p {
    align-self: flex-end;
    display: flex;
    width: 55%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 200%;
    color: #ffffff;
}

.linha {
    display: flex;
    justify-self: center;
    width: 98%;
    height: 2px;
    background: #ffffff;
}

.titulo h3 {
    display: flex;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    justify-content: center;
}

.titulo h3 span {
    color: #EF8A14;
}

.titulo p {
    margin: 7%;
    display: flex;
    justify-content: center;
    width: 55%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 200%;
    color: #ffffff;
}

.ceo1 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}
.ceo2 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}
.ceo3 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}
.ceo4 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}
.ceo5 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}
.ceo6 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}
.ceo7 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}
/*Começo do Footer*/
.footer0 {
    background: rgba(74, 74, 74, 0.33);
    opacity: 4;
}

.footer {
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    color: white;
}

.footerContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footerEsquerdo {
    width: 30%;
    padding: 60px 41px;
    font-size: 90%;
}

.footerEsquerdo label {
    margin: 20% 0;
    font-size: 115%;
    font-weight: bold;
    font-family: Poppins;
}

.footerEsquerdo p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Poppins;
}

.footerEsquerdo p svg {
    margin-right: 1%;
}


.footerDireito {
    width: 30%;
    padding: 60px 41px;
    font-size: 90%;
}

.footerDireito label {
    margin: 20% 0%;
    font-weight: bold;
    font-size: 115%;
    font-family: Poppins;
}

.footerDireito p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Poppins;
}

.footerDireito p svg {
    margin-right: 1%;
}


.final {
    display: flex;
    width: 100%;
    font-size: 100%;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.final p {
    align-self: center;
    justify-content: center;
    font-family: Poppins;
}

.final img {
    align-self: center;
    justify-content: center;
}