/* navbar */
body {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf);
}

* {
    font-family: 'Poppins';
}

.containerModal {
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 15;
    opacity: 1;
    position: absolute;
    justify-content: center;
    align-items: center;
    ;
}

/*HOME HOME HOME HOME*/

.containerGeralhome {
    background-image: url(img/FundoPGInicial.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #5b6284;
    background-blend-mode: multiply;
}

.containerNavbar {
    display: flex;
    width: 100%;
    font-family: Poppins;
    font-size: 100%;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* começo do navbar */

.headerContainer {
    display: flex;
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
}

.logoContainer img {
    display: flex;
    width: 100%;
}

.navbarLista {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    justify-content: end;
}

.navbarLista ul,
.navbarLista li a {
    padding: 5px 10px;
    color: #D68F3B;
    font-weight: 800;
    text-decoration: none;
}

.loginBtn {
    padding: 7px 25px;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #EF8A14;
}

/*começo do  Aumente a Presença*/
.containerAumentando {
    display: flex;
    padding: 5%;
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    font-family: poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 220%;
    line-height: 230%;
    color: #FFFFFF;
}

.containerAumentando span {
    color: #EF8A14;
    font-weight: 900;
}

.containerAumentando button {
    width: 40%;
    padding: 3% 3%;
    border: 4px solid #147aef59;
    border-radius: 5px;
    background: #525E8D;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70%;
}

.containerAumentando .btnFazerParte {
    padding: 3% 3%;
    background: #147aef56;
    border: 4px solid rgba(20, 122, 239, 0.338);
    border-radius: 10px;
    font-weight: 700;
    font-size: 70%
}

.AumentandoImagens {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.imagemBaixa {
    margin: 15% 5%;
}

/*começo do Ganha-Ganha*/
.headerGanha {
    display: flex;
    justify-content: center;
}

.containerGanhaGanha {
    display: flex;
    width: 60%;
    border-radius: 19px;
    justify-content: space-between;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.containerGanhaGanha img {
    align-self: center;
    margin: 5% 5%;
    width: 40%;
    height: 70%;
}

.GanhaGanhaTexto h3 {
    width: 50%;
    margin: 10%;
    font-weight: 900%;
    font-size: 200%;
    align-self: flex-end;
}

.GanhaGanhaTexto {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.containerGanhaGanha i {
    display: flex;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    align-items: center;
    text-align: right;
    margin-bottom: 5%;
}

/*Começo do Nossa missão*/
.headerNossaMissao {
    display: flex;
    justify-content: center;
    background-image: url(img/imgNossaMissao.jpeg);
    background-size: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: #444444ca;
    background-blend-mode: multiply;
    color: #FFFFFF;
}

.containerMissao {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerMissao h3 {
    align-self: center;
    justify-content: center;
    width: 80%;
    font-family: poppins;
    font-size: 300%;
    font-weight: 800%;
}

.containerMissao p {
    display: flex;
    align-self: center;
    padding: 10px 30px;
    justify-items: center;
    border: 4px solid #EFBF14;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    line-height: 120%;
}

.containerVerQuemSomos {
    display: flex;
    justify-content: end;
    padding: 10px 90px;
    text-decoration: underline;
}



/* começando CLIENTES*/
.headerClientes {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    align-items: center;
}

.headerClientes h3 {
    display: flex;
    width: 100%;
    font-size: 250%;
    font-weight: 800%;

}

.containerClientes p {
    display: flex;
    /* flex-direction: column;
    align-items: end;
    justify-content: center; */
    border-radius: 24px;
    width: 100%;
    background: rgba(106, 193, 255, 0.6);
    box-shadow: 12px 12px 18px rgba(47, 74, 102, 0.35);
    backdrop-filter: blur(5px);
}



.containerClientes1 p img {
    display: flex;
    align-self: start;
    margin: 5% 5%;
    width: 50%;
    height: 5%;
}

.containerClientes p span {
    display: flex;
    font-family: 'Montserrat';
    font-style: italic;
    padding: -21px -20px;
    font-weight: 200;
    line-height: 16px;
    align-items: center;
    color: #000000;
    background: #FFFFFFD4;

}


/* começo do footer */
.footer0 {
    background: rgba(74, 74, 74, 0.303);
    opacity: 4;
}

.footer {
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    color: white;
}

.footerContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footerEsquerdo {
    width: 30%;
    padding: 60px 41px;
    font-size: 90%;
}

.footerEsquerdo label {
    margin: 20% 0;
    font-size: 115%;
    font-weight: bold;
    font-family: Poppins;
}

.footerEsquerdo p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Poppins;
}

.footerEsquerdo p svg {
    margin-right: 1%;
}


.footerDireito {
    width: 30%;
    padding: 60px 41px;
    font-size: 90%;
}

.footerDireito label {
    margin: 20% 0%;
    font-weight: bold;
    font-size: 115%;
    font-family: Poppins;
}

.footerDireito p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Poppins;
}

.footerDireito p svg {
    margin-right: 1%;
}


.final {
    display: flex;
    width: 100%;
    font-size: 100%;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.final p {
    align-self: center;
    justify-content: center;
    font-family: Poppins;
}

.final img {
    align-self: center;
    justify-content: center;
}







/*NÃO SEI*/

.header {
    font-family: 'Poppins';
    justify-content: center;
    align-items: center;
    font-size: 130%;
    display: flex;
    background-color: #0F1631;
    width: 100%;
    height: 60px;
    color: white;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #0d1328;


}

.headerLogo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 40px;
    width: 50%;
    height: 100%;
}

.headerText {
    font-family: 'Poppins';
    font-family: 'inter';
    display: flex;
    justify-content: right;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.clickLogin {
    display: flex;
    background-color: #EF8A14;
    width: 15%;
    height: 35px;
    border-radius: 7px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* QUEM SOMOS */
body {
    margin: 0;
    padding: 0;
    background: #0F1631;
    font-family: poppins;
}

.quemSomosContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.solucaoQuemSomosTexto1 {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.solucaoQuemSomosTexto2 {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    padding-bottom: 3%;
}

.solucaoQuemSomosTexto1 h3 {
    width: 40%;
    justify-content: start;
}

.titulo02 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.quemSomosContainer h3 {
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.quemSomosContainer h3 span {
    color: #EF8A14;
}

.imgBackgroundQuemSomos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBackgroundQuemSomos img {
    align-self: center;
    margin-bottom: 5%;
}


.imgBackgroundQuemSomos p {
    position: absolute;
    margin-top: 30%;
    margin-bottom: 5%;
    width: 40%;
    justify-self: start;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 200%;
    color: #ffffff;
    align-self: center;
    flex-direction: column;
    background-color: #000000c1;
    margin-right: 20%;
    padding: 2%;
    border-radius: 20px;
}

.solucaoQuemSomos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.89);
}

.solucaoQuemSomos h3 {
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 200%;
    color: #ffffff;
}

.solucaoQuemSomos p {
    align-self: flex-end;
    display: flex;
    width: 55%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 200%;
    color: #ffffff;
}

.linhaQuemSomos {
    display: flex;
    width: 95%;
    align-self: center;
    margin: 3% 3%;
    height: 2px;
    background: #ffffff;
}

.tituloQuemSomos h3 {
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    justify-content: center;
}

.tituloQuemSomos h3 span {
    color: #EF8A14;
}

.tituloQuemSomos p {
    margin: 7%;
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 200%;
    color: #ffffff;
    text-align: center;
}

.ceo1 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
    
}

.ceo2 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}

.ceo3 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}

.ceo4 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}

.ceo5 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}

.ceo6 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}

.ceo7 {
    color: #EF8A14;
    align-self: flex-end;
    display: flex;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 400%;
}


/*A A A A A A COMEÇO CALCULADORA A A A A A A*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #0F1631;
}

::-webkit-scrollbar-thumb {
    background-color: #1F4662;
    border-radius: 20px;
}

.containerGeralCalculadora {
    background-color: #0F1631;
    flex-direction: row;
}

.containerCalculosGeral {
    background-image: url(img/CalculadoraImgFundo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #242c55cb;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloCalculadora {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #FFFFFF;

}

.tituloCalculadora h1 {
    background-size: cover;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.containerCalculosGeral span {
    color: #EF8A14;
}

/*Começo dos inputs*/
.containerCalculadoraInputs {
    display: flex;
    width: 90%;
    align-items: center;
    align-items: center;
}

.InputDireitoCalculadora h3 {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    font-size: 200%;
    font-weight: 900px;
    color: #FFFFFF;
}

.InputEsquerdoCalculadora h3 {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    font-size: 200%;
    font-weight: 900px;
    color: #FFFFFF;
}

.InputEsquerdoCalculadora p {
    width: 60%;
    color: #EF8A14;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    justify-content: left;
}

.InputEsquerdoCalculadora span {
    font-size: 100%;
    color: #EF8A14;
    font-family: Arial, Helvetica, sans-serif;
}

.InputDireitoCalculadora span {
    font-size: 100%;
    color: #EF8A14;
    font-family: Arial, Helvetica, sans-serif;
}

.InputEsquerdoCalculadora {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90%;
}

.InputDireitoCalculadora {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90%;
}

.InputCalculadora {
    width: 50%;
    align-self: center;
    background: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    padding: 5px 8px;
    font-size: 120%;
    font-style: italic;
    margin-bottom: 3%;
    color: #EF8A14;
    border-bottom: 3px solid #ffffff;
}

input::placeholder {
    cursor: text;
    color: #ffffff;
    font-size: 100%;
    font-family: Poppins;
}

.InputDireitoCalculadora p {
    width: 60%;
    color: #EF8A14;
    font-size: 100%;
    font-weight: bold;
    justify-content: left;
    align-self: center;
}

.ButtonDivCalculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerGeralCalculadora button {
    width: 200%;
    padding: 4px;
    margin: 15%;
    cursor: pointer;
    font-size: 120%;
    align-self: center;
    border-radius: 50px;
    font-weight: bolder;
    color: #EF8A14;
    border: 3px solid #ffffff;
    background: transparent;
}

#resultado {
    display: inherit;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 10px 10% 10% 10%;
    border-radius: 10px;
}

#absentismo {
    width: 35%;
    margin: 2%;
}

#energia {
    width: 35%;
    margin: 2%;
}


/* CSS Dashboard Local*/


.containerNavbarDashboard {
    background-color: #0F1631;
    display: flex;
    width: 100%;
    font-family: Poppins;
    font-size: 100%;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.headerContainerDashboard {
    display: flex;
    width: 100%;
    padding: 0 1%;
    justify-content: space-between;
}

.logoContainer img {
    display: flex;
    width: 30%;
}

.navbarLista {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    justify-content: end;
}

.navbarLista ul,
.navbarLista li a {
    padding: 5px 10px;
    margin-right: 25px;
    color: #D68F3B;
    font-weight: 800;
    text-decoration: none;
}

.loginBtnDashboard {
    padding: 7px 25px;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #EF8A14;
}

.imgUserDashboard {
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 25px;
    width: 50px;
    height: 40px;
    display: flex;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.textDashboard {
    color: white;
    background-color: #101A41;
    display: flex;
    justify-content: center;
    font-size: 200%;
    width: 100%;
    height: 50%;
    padding-top: 20px;
}

.Graficos {
    background-color: #101A41;

    position: fixed;

    align-items: center;
    width: 100%;
    height: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
}

.left {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.graphicDescription {
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    width: 60%;
    height: 100%;
    color: white;
}

.graphicDescriptionLDR5 {
    padding-bottom: 100px;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 50%;
}

.graphicDescriptionLM35 {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 50%;
}

.cardGraficoLDR5 {

    width: 100%;
    height: 50%;
    display: flex;
    padding-top: 20px;
    background-color: white;
    width: 450px;
    height: 200px;
    border-radius: 15px;
}

.cardGraficoLM35 {
    width: 100%;
    height: 50%;
    margin-top: 20px;
    display: flex;
    padding-top: 50px;
    background-color: white;
    width: 450px;
    height: 200px;
    border-radius: 15px;
}

.right {
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    width: 35%;
}

.plantasala {
    margin-right: 50px;
    margin-bottom: 20px;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

#linhaVertical {
    margin-right: 70px;
    display: flex;
    margin-left: 50px;
    height: 585px;
    border-left: 4px solid #EF8A14;
}

.tableSensors {
    display: flex;
    background-color: white;
    width: 430px;
    height: 230px;
    border-radius: 15px;

}

.clickGraphic {
    display: flex;
    background-color: #EF8A14;
    width: 15%;
    height: 35px;
    border-radius: 7px;
    text-align: center;
    justify-content: center;
    align-items: center;
}






/* CSS DASHBOARD GERAL */

.containerNavbarDashboardGeneral {
    background-color: #0F1631;
    display: flex;
    width: 100%;
    font-family: Poppins;
    font-size: 100%;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.headerContainerDashboardGeneral {
    display: flex;
    width: 100%;
    padding: 0 1%;
    justify-content: space-between;
}

.loginBtnDashboard {
    padding: 7px 25px;
    color: white;
    letter-spacing: 1px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #EF8A14;
}

.imgUserDashboardGeneral {
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 25px;
    width: 50px;
    height: 40px;
    display: flex;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.bodyDashboard {
    position: fixed;

    display: flex;
    width: 100%;
    height: 100%;
}

.rightDash {
    background-color: #0F1631;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    color: #D9D9D9;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #0F1631;
}

::-webkit-scrollbar-thumb {
    background-color: #1F4662;
    border-radius: 20px;
}

.leftDash {
    background-color: #101A41;
    color: #D9D9D9;
    width: 65%;
    height: 100%;
}

.textCompany {
    width: 100%;
    height: 5%;
    margin-left: 5%;
}

.generalQuality {
    width: 100%;
    height: 8%;
    margin-left: 10%;
}

.cardIndex {
    background-color: #1F4662;
    margin-left: 10%;
    width: 60%;
    height: 40vh;
    border-radius: 10px;
}

.horizontalLine {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    background-color: #070D25;
    width: 75%;
    height: 1%;
    margin-left: 3%;
}

.Generalmonitoring {
    width: 95%;
    margin-left: 5%;
    height: auto;
}

.sensors {
    margin-bottom: 10%;
    background-color: #101A41;
    display: flex;
    width: 100%;
}

.sensor1 {
    background-color: #BE1CA4;
    margin-left: 5%;
    width: 30%;
    height: 15vh;
    border-radius: 10px;
}

.sensor2 {
    background-color: #BE871C;
    margin-left: 5%;
    width: 30%;
    height: 15vh;
    border-radius: 10px;
}

.textAbsenteeism {
    display: flex;
    width: 100%;
    height: 2%;
    justify-content: center;
}

.absenteeismGraph {
    padding-top: 18%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.overallPercentage {
    padding-top: 18%;
    font-size: 150%;
    display: flex;
    width: 100%;
    height: 3%;
}

.Percentage1 {
    font-weight: bold;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 5%;
}

.Percentage2 {
    font-weight: bold;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 5%;
}

.textAbsenteeism {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
}

.textEnvironments {
    padding-top: 5%;
    padding-left: 7%;
    font-weight: bold;
    display: flex;
    width: 50%;
}

.environmentisGeneral {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    width: 100%;
    justify-content: space-around;
}

.environmentisLine1 {

    display: flex;
    flex-direction: row;
    padding-top: 2%;
    width: 100%;
    height: 20%;
    justify-content: space-around;
}

.environmentisLine2 {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    width: 100%;
    height: 20%;
    justify-content: space-around;
}

.environmentisLine3 {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    width: 100%;
    height: 20%;
    justify-content: space-around;
}

.environmentisLine4 {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.environmentisLine5 {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-bottom: 90px;
}

.environments1 {
    align-items: end;
    background-image: url(img/unsplash_jUOaONoXJQk.png);
    font-weight: bold;
    justify-content: center;
    display: flex;
    width: 40%;
    height: 15vh;
    border-radius: 15%;
}



/* Login */

.inputstransparente {
    width: 65%;
    margin-left: 80px;
    padding-top: 2px;
    outline: none;
    border-radius: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: #1F4662 solid 3px;
    background: transparent;
    font-size: 125%
}

.cardLogin {
    background-color: #101a41d2;
    margin: auto;
    margin-top: 8%;
    display: flex;
    width: 60vw;
    height: 80vh;
    border-radius: 15px;
    overflow: hidden;

}

.imgLogin {

    background-image: url(img/imgLoginBackground.png);
    background-size: cover;
    align-items: center;
    justify-content: left;
    display: flex;
    width: 50%;
    height: 100%;
    mix-blend-mode: multiply;

}

.rightLoginBackground {
    background-color: #D9D9D9;
    width: 50%;
    height: 100%;
}

.rightLogin {
    color: #0F1631;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
}

.buttonClose {
    display: flex;
    justify-content: end;
    width: 98%;
    height: 5%;
    padding-top: 15px;
}

.textLogin {
    color: #1F4662;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: left;
    font-size: 220%;
    display: flex;
    width: 100%;
    height: 20%;
    padding-left: 80px;
}

.textEmail {
    justify-content: flex-start;
    color: #1F4662;
    font-size: 22px;
    flex-direction: row;
    display: flex;
    width: 30%;
    height: 5%;
    align-items: center;
    padding-left: 80px;
    font-weight: bold;
    padding-top: 15px;
}

.textPassword {
    justify-content: flex-start;
    color: #1F4662;
    font-size: 22px;
    flex-direction: row;
    display: flex;
    width: 30%;
    height: 5%;
    align-items: center;
    padding-left: 80px;
    font-weight: bold;
    padding-top: 30px;
}

.cardsClicks {
    padding-left: 80px;
    margin-top: 30px;
    flex-direction: row;
    color: white;
    display: flex;
    width: 100%;
    height: 40%;
}

.clickEnter {
    align-items: center;
    justify-content: center;
    background-color: #1F4662;
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.clickRecoverPassword {
    align-items: center;
    margin-left: 45px;
    justify-content: center;
    background-color: #1F4662;
    display: flex;
    width: 160px;
    height: 40px;
    border-radius: 10px;
}



/* CADASTRO */

.cardRegister {
    font-family: 'Poppins';
    border-radius: 15px 15px 0 0;
    background-color: #101a41d2;
    margin: auto;
    margin-top: 8%;
    width: 60vw;
    height: 80vh;
    border-radius: 15px 15px 15px 15px;

}

.topRegister {
    background-size: cover;
    background-image: url(img/imgCadastro.png);
    display: flex;
    width: 100%;
    height: 30%;
    border-radius: 15px 15px 0 0;
    mix-blend-mode: multiply;
}

.buttonCloseRegister {
    position: absolute;
    display: flex;
    width: 3%;
    height: 3%;
    z-index: 100;
    padding-left: 57%;
    padding-top: 1%;
}

.sectionRegister {
    font-family: 'Poppins';

    background-color: #D9D9D9;

    display: flex;
    width: 100%;
    flex-direction: column;
    height: 70%;
    border-radius: 0 0 20px 20px;
}

.textMyData {
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: #1F4662;
    height: 3%;
    padding-bottom: 3%;
}

.inputsRegister {

    outline: none;
    background-color: #D9D9D9;
    display: flex;
    width: 30%;
    height: 30px;
    margin-left: 80px;
    padding-top: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #1F4662 solid 3px;
}

.line1 {

    font-size: 150px;
    display: flex;
    width: 90%;
    height: 10%;
    justify-content: space-around;
}

.line2 {
    padding-top: 3%;

    display: flex;
    width: 90%;
    height: 10%;
    justify-content: space-around;
}

.line3 {
    padding-top: 3%;

    display: flex;
    width: 90%;
    height: 10%;
    justify-content: space-around;
}

.line4 {
    align-items: center;
    padding-top: 5%;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
}

.inputsSmall {
    outline: none;
    background-color: #D9D9D9;
    display: flex;
    width: 10%;
    height: 30px;
    margin-left: 80px;
    padding-top: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #1F4662 solid 3px;
}

.inputsAverage {

    outline: none;
    background-color: #D9D9D9;
    display: flex;
    width: 15%;
    height: 30px;
    margin-left: 80px;
    padding-top: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #1F4662 solid 3px;
}

.inputsBig {
    font-family: 'Poppins';

    outline: none;
    background-color: #D9D9D9;
    display: flex;
    width: 45%;
    height: 30px;
    margin-left: 80px;
    padding-top: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #1F4662 solid 3px;

}

.clickSave {
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #1F4662;
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}